* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: .8em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    background-color: #EEE;
    text-align: center;
    padding: 5px;
}

.container {
    margin: 1em auto;
    width: 80%;
}

.head {
    color: white;
    font-weight: bold;
    background-color: black;
}

.col {
    position: relative;
    width: 100%;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col {
    text-align: center;
    padding: 5px;
}

#btn-add-user {
    margin-top: 1em;
    padding: .5em 2em;
    float: right;
    cursor: pointer;
}

.new-input {
    width: 100%;
}

.new-age {
    text-align: center;
}

.ml-overlap-edit-element {
    cursor: pointer;
}

.ml-overlap-edit-element:hover {
    background-color: grey;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/*@media only screen and (max-width: 320px) {*/
@media only screen and (max-width: 720px) {
    .container {
        width: 100%;
    }
}

