Options -Indexes
Options +FollowSymLinks -MultiViews

RewriteEngine on
#RewriteRule ^.*$ htaccess_tester.php
#RewriteBase /subdir/sec_subdir/

#RewriteRule (.*)web/(.*)$ /subdir/sec_subdir/web/$2 [R=301]
RewriteCond %{REQUEST_URI} !/web
RewriteRule ^(.*)$ web/$1 [L,NC]

#RewriteRule ^subdir/sec_subdir/(.*) subdir/sec_subdir/web/$1 [NC,L]
#RewriteRule ^/subdir/sec_subdir/(.*)?$ /subdir/sec_subdir/web/$1 [NC]
