* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: .8em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    background-color: #EEE;
    text-align: center;
    padding: 5px;
}

.container {
    margin: 1em auto;
    width: 80%;
}

.head {
    color: white;
    font-weight: bold;
    background-color: black;
}

/*.col {
    position: relative;
    width: 100%;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row {
    width:30%;
}*/

.col {
    text-align: center;
    padding: 5px;
}

#btn-add-user {
    margin-top: 1.5em;
    padding: .5em 2em;
    float: right;
    cursor: pointer;
}

.new-input {
    width: 100%;
}

.new-age {
    text-align: center;
}

.ml-overlap-edit-element {
    cursor: pointer;
}

.ml-overlap-edit-element:hover {
    background-color: grey;
}

/*@media only screen and (max-width: 320px) {*/
@media only screen and (max-width: 720px) {
    .container {
        width: 100%;
    }
}

.global_message {
    margin: 1em 0;
}

/* NAVIGATION */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.nav .active {
    background-color: #4CAF50;
}
/* //NAVIGATION */


/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.col, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
