Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ subdir/sec_subdir/web/index.php?r=$1 [L,QSA]
RewriteRule ^(.*)$ index.php?r=$1 [L,QSA]

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]
